@font-face {
    font-family: 'bones';
    src: url('./fonts/Bones.woff2') format('woff2'),
         url('./fonts/Bones.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'autograf';
    src: url('./fonts/Autograf.woff2') format('woff2'),
         url('./fonts/Autograf.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.txt--bones {
    font-family: "bones";
}

.txt--700 {
    font-weight: 700;
}