html {
    font-size: 62.5%;
    position: relative;
    color: white;
    // z-index: -1;
    &::before {
        content: "";
        background: url(./img/background.webp) fixed;
        background-size: 100% auto;
        position: fixed;
        inset: 0;
        z-index: -2;
    }
    // &::after {
    //     content: "";
    //     position: fixed;
    //     inset: 0;
    //     background: rgba(0, 0, 0, 0.3);
    //     z-index: -1;
    // } 
}

::-webkit-scrollbar {
    width: 12px;
    background: rgb(36, 36, 36);
    // &-track {

    // }
    &-thumb {
        background: #ff00cc;
        border: 2px solid rgb(36, 36, 36);
    }
}

// * {
//     outline:red 1px solid ;
// }

#background-video video {
    z-index: -1;
    grid-area: video;
    min-width: 100vw;
    max-width: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    opacity: .5;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: repeat;
    background-size: 110% auto;
    filter: hue-rotate(
99deg) brightness(1) saturate(6.5);
    -webkit-filter: hue-rotate(
99deg) brightness(1) saturate(6.5);
    position: fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 1.6rem;
}

@keyframes blink {
    0% {
        filter: hue-rotate(120deg) brightness(1.5);
    }
    50% {
        filter: hue-rotate(360deg) brightness(1) grayscale(0);
    }
    75% {
        filter: hue-rotate(360deg) brightness(1) grayscale(0.8);
    }
    100% {
        filter: hue-rotate(120deg) brightness(1.5) grayscale(0);
    }
}


header {
    padding: 100px 50px 0 50px;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content:flex-end;
    // overflow: hidden;
    // background-color: rgb(236, 22, 22);
    // border: solid cyan 1px;
    align-items: center;
    > #hero {
        display: flex;
        gap: 30px;
        max-width: 1600px;
        height: 100%;
        width: 100%;
        // margin: 0 auto;
        margin-top: auto;
        > * {
            // border: solid cyan 1px;
            // height: 100%;
            width: 100%;
        }
        .img--container {
            position: relative;
            // max-width: 50%;
            // height: 500px;
            #necklace {
                position: absolute;
                // width: 35%;
                inset: 0;
                animation: blink 2s infinite alternate-reverse;
                // top: 21%;
                // left: 31.3%;
            }
        }
        #hero__slogan--container {
            // width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            max-height: 100%;
            #hero__title {
                width: 100%;
                max-height: 100%;
                padding: 10%;
                margin-bottom: -5%;
                svg {
                    width: 100%;
                    height: 100%;
                    filter: drop-shadow(0 0 15px #FF00CC);
                }
                
            }
            #hero__subtitle {
                font-size: 4rem;
                text-align: center;
                line-height: 3rem;
            }
        }
    }
}

h1 {
    font-size: 5rem;
}

// .flex {
    //     display: flex;
    // }
    
    // .flex--v {
        //     display: flex;
        //     flex-direction: column;
        // }
        
nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 0 50px;
    // background: red;
    #logo a{
        max-width: 60px;
        // max-height: 100px;
        display: block;
        padding: 20px 0;
    }
            
    > ul {
        display: flex;
        align-items: center;
        gap: 20px;
        li:first-of-type {
            flex: 1;
        }
    }
} 

img {
    // background: black;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


